/* Reset de margens e preenchimentos, e aplicação de box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilo para o corpo da página */
body {
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px; /* Adiciona espaçamento para o conteúdo */
    flex-direction: column;
}

/* Container principal */
.container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background: #fff;
    justify-content: center; /* Centraliza horizontalmente */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Área de referência */
.ref .email {
    margin-top: 20px;
    text-align: center;
    color: #007bff;
}

/* Estilo para profile e banner */
.profile, .banner {
    text-align: center;
    margin-bottom: 10px;
}

/* Estilo para a imagem de perfil */
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 30%;
    object-fit: cover;
}

/* Estilo para o banner */
.banner-img {
    width: 100%;
    max-width: 480px;
    height: auto;
    border-radius: 10px;
}

/* Estilo para o link da sala e o botão de pesquisa */
.input-container {
    margin-bottom: 15px; /* Adiciona margin-bottom */
    display: flex;
    justify-content: center;
    align-items: center;
}

#linkInput {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    flex: 1; /* Faz o input preencher o espaço disponível */
}

#searchButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #0056b3;
}

/* Estilo para os resultados */
.results {
    margin-top: 20px;
    text-align: center;
}

.calc {
    padding: 15px;
}

.calc h1 {
    text-align: center;
    margin-bottom: 5px;
    color: #007bff;
}

.calc h3 {
    text-align: center;
    margin-bottom: 10px;
}

/* Estilo para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: #fff;
}

input.power-input, input.bonus-input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input.power-input {
    background-color: #f9f9f9;
}

input.bonus-input {
    background-color: #f9f9f9;
}

/* Estilo para o botão de calcular */
.calculate-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#calculateButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Adicionado para centralizar */
    margin: 10px auto; /* Adicionado para centralizar */
}

#calculateButton:hover {
    background-color: #0056b3;
}

/* Estilo para os novos resultados */
#newResults {
    margin-top: 20px;
}

#newResults table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#newResults th, #newResults td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

#newResults th {
    background-color: #007bff;
    color: #fff;
}

#powerChange {
    display: inline-block;
    margin-left: 10px;
}

#calcButton {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Adicionado para centralizar */
    margin-top: 15px; /* Adicionado para centralizar */
}

#calcButton:hover {
    background-color: #0056b3;
}

#custoInput {
    padding: 10px;
    font-size: 16px;
    margin-top: 15px;
    margin-right: 10px;
    flex: 1; /* Faz o input preencher o espaço disponível */
}

/* Modo Escuro */
body.dark-mode {
    background-color: #1e1e1e;
    color: #ddd;
}

body.dark-mode .container {
    background: #333333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

body.dark-mode #searchButton,
body.dark-mode #calculateButton,
body.dark-mode #calcButton {
    background-color: #1e90ff;
    color: #ddd;
}

body.dark-mode #searchButton:hover,
body.dark-mode #calculateButton:hover,
body.dark-mode #calcButton:hover {
    background-color: #003d80;
}

body.dark-mode th,
body.dark-mode #newResults th {
    background-color: #1e90ff;
}

body.dark-mode table {
    border-color: #1e1e1e;
}

body.dark-mode input.power-input,
body.dark-mode input.bonus-input {
    background-color: #f0f0f0;
}

/* Estilo para o toggle switch */
.switch {
    display: block;
    margin: 20px auto; /* Centraliza o switch horizontalmente e adiciona margem */
    width: 60px;
    height: 34px;
    position: relative; /* Removido para centralização */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #fff;
}

input:checked + .slider:before {
    transform: translateX(26px);
    background-color: #000;
}
